/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

header, #content, footer {
    width:100%;
}

body {
    line-height:1;
    width:8192px;
    background-image:url('../images/snowflakes-background.png');
    background-repeat:repeat-x;
    background-color:#38C5F3;
    font-family:arial,helvetica;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}


blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/****
    end reset 
            *****/
nav,header {
    xborder:1px solid orange;
    width:500px;
    position:fixed;
}

nav {
    margin-top:50px;
    display:block;
    overflow:hidden;
    padding:10px 0;
}

nav a {
    xborder:1px solid red;
    float:left;
    width:16%;
    height:60px;
    text-align:center;
    background:transparent url('../images/snowflake-link-background.png') no-repeat center 23px;
    padding-top:35px;
    text-decoration:none;
}

nav a#ahome {
    padding-top:20px;
}

nav a img {
    xborder:1px solid green;
}

nav a span {
    font-size:2em;
    color:#2E9384;
    xborder:1px solid green;
}

nav a:hover {
    background-image:url('../images/snowflake-link-background-over.png');
}

header {
    xborder:1px solid blue;
    margin-top:10px;
}

header h1 {
    font-size:5em;
    color:#FFF;
    text-align:center;
}

#mycontent {
    width:100%;
    xborder:1px solid green;
}

section {
    float:left;
    xborder:1px solid pink;
    margin-right:200px;
    margin-top:150px;
}

h2 {
    xborder:1px solid green;
}

footer {
    xborder:1px solid red;
}

article {
    margin:0 auto;
    width:352px;
    text-align:center;
}

#home article {
    width:825px;
}

#bottom_image {
    background-image:url('../images/snowy-landscape.png');
    background-repeat:repeat-x;
    position:absolute;
    bottom:0px;
    left:0px;
    height:200px;
    width:100%;
    z-index:-100;
}

.gallery {
    xborder:1px solid pink;
    position:absolute;
    left:0;
}

#tabs ul {
    height:30px;
    padding:25px 0 0 0;
}

#tabs ul li {
    display:inline;
    padding:0 5px;
}
